<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>Life Log</title>
  <link href="/css/goalStyle.css" rel="stylesheet" type="text/css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.6.0/chart.min.js"
    integrity="sha512-GMGzUEevhWh8Tc/njS0bDpwgxdCJLQBWG3Z2Ct+JGOpVnEmjvNx6ts4v6A2XJf1HOrtOsfhv3hBKpK9kE5z8AQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="js/jquery-3.6.0.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
  crossorigin="anonymous"></script>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>


<body>
  <div class="wrapper">
    <!-- Sidebar Holder -->
    <nav id="sidebar">
      <div class="sidebar-header">
        <h1>Life Log</h1>
      </div>
      <ul class="components">
        <li>
          <a href="log">
            <h2>
              Log
            </h2>
          </a>
        </li>
        <li>
          <a href="#statSubmenu" data-toggle="collapse" aria-expanded="false">
            <h2>
              Statistics
            </h2>
          </a>
          <ul class="collapse list-unstyled" id="statSubmenu">
            <li><a href="yearly">
                <h3>Yearly Summary</h3>
              </a></li>
            <li><a href="monthly">
                <h3>Monthly Summary</h3>
              </a></li>
            <li><a href="weekly">
                <h3>Weekly Summary</h3>
              </a></li>
            <li><a href="goals" style="background-color: #351c75ff;">
                <h3>Goals</h3>
              </a></li>
          </ul>
        </li>
      </ul>
    </nav>

    <div id="content">
  
      <form action="/goals/createGoal" method="POST">
        <select id = 'updateEntryActivity'  class = "RoundedBox" name="userActivities">
          <% for(var i = 0; i < userActivities.length; i++) { %>
            <option><%= userActivities[i].activityName %></option>  
          <% }; %>
        </select> 
        <input type ="number" max ="10000" onkeypress="return event.charCode >= 48" min = "1" class='RoundedBox' type="text" placeholder="Total Hours" name="totalHours"  required><br>
        <button class='button' type="submit">Set <br> Goal</button>
        <br><br><br><br>
      </form>

      <div id = "goalsTooltip">
      <script src = "goalChart.js"></script>
      <script>
          var userSessionData = <%-JSON.stringify(userData) %>;
          var goals = <%-JSON.stringify(allGoals) %>;
          var activities = <%-JSON.stringify(userActivities) %>;

          displayGoals(userSessionData, goals, activities);
      </script>



    </div>



    </div>
  </div>

  </div>
</body>

</html>