<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Life Log</title>
</head>
<body>

  <div>
    <!-- <br><br><img src = "/images/LeafLogo.png" width = 180%></src> -->
    <h1> Home Page bla bla bla "what we are about" </h1>
    <a href = "login">Have an account?</a><br>
    <a href = "register">Don't have an account? Sign Up</a>
  </div>
</body>
</html>