<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Life Log</title>
  <link href="/css/style.css" rel="stylesheet" type="text/css">
</head>
<body>

  <div class="home">
    <!-- <br><br><img src = "/images/LeafLogo.png" width = 180%></src> -->
    <h1>Life Log</h1>
    <h2>Create <strong>Your Own</strong> Efficient Way to Manage <strong> Your</strong> Time and <strong>Your </strong>New Habits</h2>
    <a href = "login">Have an account?</a><br><br>
    <a href = "register">Don't have an account? Sign Up</a>
  </div>
</body>
</html>