<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Life Log</title>
  <link href="/css/style.css" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>
      
  <script src="js/jquery-3.6.0.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="https://code.highcharts.com/highcharts.js"></script>
  <script src="https://code.highcharts.com/modules/xrange.js"></script>
  <script src="https://code.highcharts.com/modules/exporting.js"></script>
  <script src="https://code.highcharts.com/modules/draggable-points.js"></script>
  <script src="https://code.highcharts.com/highcharts.js"></script>
  <script src="https://code.highcharts.com/modules/draggable-points.js"></script>

  <script type="text/javascript">
    $(document).ready(function () {
        $('#sidebarCollapse').on('click', function () {
            $('#sidebar').toggleClass('active');
            $(this).toggleClass('active');
        });
    });
  </script>

  <div class="wrapper">
    <!-- Sidebar Holder -->
    <nav id="sidebar">
        <div class="sidebar-header">
            <h1>Life Log</h1>
        </div>

        <ul class="components">
            <li>
                <a href="log" style="background-color: #351c75ff;">
                    <h2>
                        Log
                    </h2>
                </a>
            </li>
            <li>
                <a href="#statSubmenu" data-toggle="collapse" aria-expanded="false">
                    <h2>
                        Statistics
                    </h2>
                </a>
                <ul class="collapse list-unstyled" id="statSubmenu">
                    <li><a href="yearly"><h3>Yearly Summary</h3></a></li>
                    <li><a href="weekly"><h3>Weekly Summary</h3></a></li>
                    <li><a href="goals"><h3>Goals</h3></a></li>
                </ul>
            </li>
        </ul>
    </nav>

    <!-- Page Content Holder -->
    <div id="content">

      <figure class="highcharts-figure">


        <div id="container"></div>
        <style> 
          .highcharts-container svg {
            overflow: visible !important;
          }
          .highcharts-container 
          { 
            overflow: visible !important; 
          } 
        </style>
        <script src = "js/logChart.js"></script> 
        <script > 
  
          var test = <%- JSON.stringify(sessionData) %>;
  
          displayChart(test);
  
  
        </script>
  
    </figure>

    <div id="dragstatus"></div>
      <form action="/log/log" method="POST">
        <input type="datetime-local" placeholder="Start Time" name="x" required><br>
        <input type="datetime-local" placeholder="End Time" name="x2" required><br>
        <input type="color" placeholder="Color" name="color" required><br>
        <input type="text" placeholder="Activity Name" name="activityName" required><br>
        <input type="text" placeholder="Comments" name="comments" required><br>

        <button type="submit">Log</button>
      </form>
    </div>
  </div>

</body>

</html>