<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Life Log</title>
  <link href="/css/style.css" rel="stylesheet" type="text/css">
</head>
<body>

  <div class="login-box">
    <h1> Login </h1>
    <form action="/login/login" method="POST">
      <input type="text" placeholder="Username" name="username" required><br>
        <input type="password" placeholder="Password" name="password" required><br>
        <a href = "forgotPassword" class = "ForgotPassword"> Forgot your password?</a><br><br>
      <button type="Login">Log in</button>
    </form>
    <br><hr>
    <a href = "Register">Don't have an account? Sign Up</a>
  </div>
</body>
</html>