<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Life Log</title>
    <link href="/css/style.css" rel="stylesheet" type="text/css">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.6.0/chart.min.js"
        integrity="sha512-GMGzUEevhWh8Tc/njS0bDpwgxdCJLQBWG3Z2Ct+JGOpVnEmjvNx6ts4v6A2XJf1HOrtOsfhv3hBKpK9kE5z8AQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="js/jquery-3.6.0.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
</head>

<body>
    <div class="chartMenu">
        <h1 style="text-align:center;">Monthly Overiew</h1>
        
    </div>


    <div class="container" style="height: 500px; width: 1000px; margin: 0 auto 100px;" >
        <canvas id="myChart"></canvas>

        <script>
            //to format year
            var today = new Date();
            var dataChart = document.getElementById('myChart').getContext('2d');
            var monthlyChart = new Chart(dataChart, {
                type: 'bar', // bar, horizontalBar, pie, line, doughnut, radar, polarArea
                data:{
                    labels:['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 
                            'July', 'Aug', 'Sept', 'Oct', 'Nov', 'Dec'],
                    datasets:[{
                        label: 'Studying',
                        data:[ 117, 181, 153, 156, 420, 450,
                                57, 81, 106, 116, 220, 250    
                        ],
                        backgroundColor: [ //need to incorporate with user's picked color
                            '#8e7cc3ff'
                            
                        ]
                    }, {
                            label: 'Gym',
                            data: [50, 18, 15, 106, 120, 45,
                                67, 81, 53, 16, 120, 45
                            ],
                            backgroundColor: [ //need to incorporate with user's picked color
                                '#ba181b'

                            ]
                    }, {
                       label: 'Journaling',
                        data: [ 12, 40, 17, 11, 15, 16,
                                20, 50, 61, 20, 13, 30
                        ],
                        backgroundColor: [ //need to incorporate with user's picked color
                            '#ffe66d'

                        ] 
                    }
                ]
                },
                //not working, need to fix
                options: {
                    plugins: {
                        legend: {
                            display: true,
                            position: 'right',
                            title: {
                                display: true,
                                text: 'ACTIVITIES',
                                color: '#FFF',
                                size: 18
                            },
                            labels: {
                                color: '#FFF'
                            }
                        },
                        title: {
                            display: true,
                            text: 'Overview of Activities: ' + today.getFullYear(),
                            color: '#FFF',
                            fontSize: 20
                        }
                    },
                    scales: {
                        x: {
                            title: {
                                display: true,
                                text: 'Month',
                                color: '#FFF',
                                // fontSize: 20
                            },
                            ticks: {
                                color: '#FFF',
                                
                            },
                            stacked: true
                        },

                        y: {
                            title: {
                                display: true,
                                text: 'Hours Spent on Activity',
                                color: '#FFF',
                                
                            },
                            ticks: {
                                color: '#FFF'
                            },
                            stacked: true
                        }
                    }
                    

                }
                
            });

        </script>
    </div>
</body>

</html>