<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Life Log</title>
</head>
<body>

  <div>
    <!-- <br><br><img src = "/images/LeafLogo.png" width = 180%></src> -->
    <h1> Register </h1>
    <form action="register/Register" method="POST">
      <input type="text" placeholder="Username" name="username" required><br>
      <input type="password" placeholder="Password" name="password" required><br>
      <button type="Register">Create Account</button>
    </form>
    <br><hr>
    <a href = "login">Already have an account? Sign in</a>
  </div>
</body>
</html>