<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Life Log</title>
  <link href="/css/style.css" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>
    <!-- jQuery & BootStrap -->
    <script src="js/jquery-3.6.0.min.js"></script>
    <script src="js/bootstrap.min.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#sidebarCollapse').on('click', function () {
                $('#sidebar').toggleClass('active');
                $(this).toggleClass('active');
            });
        });
    </script>

    <div class="wrapper">
        <!-- Sidebar Holder -->
        <nav id="sidebar">
            <div class="sidebar-header">
                <h1>Life Log</h1>
            </div>

            <ul class="components">
                <li>
                    <a href="log">
                        <h2>
                            Log
                        </h2>
                    </a>
                </li>
                <li>
                    <a href="#statSubmenu" data-toggle="collapse" aria-expanded="false">
                        <h2>
                            Statistics
                        </h2>
                    </a>
                    <ul class="collapse list-unstyled" id="statSubmenu">
                        <li><a href='log'><h3>Monthly Summary</h3></a></li>
                        <li><a href="#"><h3>Weekly Summary</h3></a></li>
                        <li><a href="#"><h3>Goals</h3></a></li>
                    </ul>
                </li>
            </ul>
        </nav>

        <!-- Page Content Holder -->
        <div id="content">
            
        </div>
    </div>

</body>
</html>
