<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Life Log</title>
    <link href="/css/style.css" rel="stylesheet" type="text/css">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.6.0/chart.min.js"
        integrity="sha512-GMGzUEevhWh8Tc/njS0bDpwgxdCJLQBWG3Z2Ct+JGOpVnEmjvNx6ts4v6A2XJf1HOrtOsfhv3hBKpK9kE5z8AQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="js/jquery-3.6.0.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="yearlyChart.js"></script>
</head>

<body>
    <div class="chartMenu">
        <h1 style="text-align:center;">Yearly Overiew</h1>
    </div>



    <div class="container">
        <canvas id="yearlyChart"></canvas>



    </div>

    <script>
        var userSessionData = <%-JSON.stringify(userData)-%>;
        var userActivity = <%-JSON.stringify(userActivities)-%>;
        displayYearlyChart(userSessionData, userActivity);
    </script>
</body>

</html>