:root {
	--white-color:                  white;
	--black-color:					#212121;
	--primary-color:                #8e7cc3ff;
	--dark-color:                   #351c75ff;
}

body {
	background-color: #212121;
	font-size: 16px;
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	margin: 0;
	color: var(--black-color);
}


  

/* Typography */
h1{
	text-transform: uppercase;
	color: var(--white-color);
	font-weight: 500;
	letter-spacing: 2px;
	font-size: 3.0em;
	line-height: 2.8em;
}

h2 {
	color: var(--white-color);
	font-weight: 400;
	letter-spacing: 1px;
	font-size: 2.0em;
	line-height: 2.8em;
}

h3 {
	color: var(--white-color);
	font-weight: 300;
	letter-spacing: 1px;
	font-size: 1.2em;
	line-height: 2.8em;
}

/* ---------- Home Page ---------- */
.home {
	margin: 0 auto;
	position: absolute;
  	top: 50%;
  	left: 50%;
	text-align: center;
	-ms-transform: translate(-50%, -50%);
  	transform: translate(-50%, -50%);
}

.home h1{
	font-size: 4.0em;
}

.home a {
	font-size: 1.7em;
	text-decoration: none;
	color: var(--white-color);
}

.home a:hover {
	color: var(--primary-color);
}

/* ---------- Log In / Sign Up / Forgor Password Page ---------- */
.login-box {
	background-color: var(--primary-color);
	max-width: 340px;
	margin: 0 auto;
	position: absolute;
  	top: 50%;
  	left: 50%;
	padding: 50px 30px;
	border-radius: 5px;
	box-shadow: 0 5px 50px rgba(0,0,0,0.4);
	text-align: center;
	-ms-transform: translate(-50%, -50%);
  	transform: translate(-50%, -50%);
}

.login-box input {
	margin-bottom: 20px;
	padding: 8px;
	border: 1px solid --white-color;
	border-radius: 2px;
	font-size: 1.5em;
	color: var(--primary-color);
}

.login-box button {
	margin-top: 0px;
	border: 0;
	border-radius: 2px;
	color: var(--white-color);
	padding: 10px;
	text-transform: uppercase;
	font-weight: 400;
	font-size: 1.0em;
	letter-spacing: 1px;
	background-color: var(--dark-color);
	cursor:pointer;
	outline: none;
}

.login-box button:hover {
	opacity: 0.7;
	transition: 0.5s;
}

.login-box button:hover {
	opacity: 0.7;
	transition: 0.5s;
}

.login-box a {
	text-decoration: none;
	font-size: 1.3em;
	color: var(--white-color);
}

.login-box a:hover {
	color: var(--black-color);
}

.login-box .selected {
	color: var(--black-color)!important;
	transition: 0.5s;
}

/* ---------- Log / Statistics Page ---------- */

/* ---------- Sidebar ------------- */
.wrapper {
    display: flex;
    align-items: stretch;
	background-color: var(--black-color);
}

#sidebar {
    min-width: 300px;
    max-width: 250px;
    background: var(--primary-color);
    color: var(--white-color);
    transform-origin: bottom left;
}

#sidebar .sidebar-header {
    padding: 0px 10px 0px 10px;
    background: var(--dark-color);
	color: var(--white-color);
}

#sidebar ul{
	list-style-type: none;
  	margin: 0 !important;
}

#sidebar ul.components {
    padding: 0;
}

#sidebar ul li a {
    padding: 0px 10px;
	color: var(--primary-color);
    display: block;
	text-decoration: none !important;
	font-weight: 500 !important;
	letter-spacing: 1px !important;
	font-size: 1.2em !important;
	line-height: 2.8em !important;
}
#sidebar ul li a:hover {
    color: var(--white-color) !important;
	text-decoration: underline !important;
}

a[data-toggle="collapse"] {
    position: relative;
}

a[aria-expanded="false"]::before, a[aria-expanded="true"]::before {
    content: '\e259';
    display: block;
    position: absolute;
	margin: auto;
	font-family: 'Glyphicons Halflings';
    right: 20px;
    font-size: 1.6em;
	color: var(--black-color);
}
a[aria-expanded="true"]::before {
    content: '\e260';
}

ul ul a {
    font-size: 0.9em;
    padding-left: 30px;
    background: var(--primary-color);
}

a.article, a.article:hover {
    background: var(--white-color) !important;
    color: var(--primary-color) !important;
}


/* ---------- Content ------------- */
#content {
	padding-top: 10px;
	padding-bottom: 10px;
	padding-right: 15%;
	padding-left: 15%;

    min-height: 100vh;
	background-color: var(--black-color);
	position: relative;
}

#Left {
	position: absolute;
	top: 930px;
	left: 45%;
	float: left;
	width: 20px;
	height: 20px;
	z-index: 5;
}

#Right {
	position: absolute;
	top: 930px;
	left: 59.8%;
	float: right;
	width: 20px;
	height: 20px;
	z-index: 5;
}

#LeftLogPage {
	position: absolute;
	top: 950px;
	left: 45%;
	float: left;
	width: 20px;
	height: 20px;
	z-index: 5;
}

#RightLogPage {
	position: absolute;
	top: 950px;
	left: 59.8%;
	float: right;
	width: 20px;
	height: 20px;
	z-index: 5;
}

#div3 {
	position: absolute;
	top: 10px;
	right: 10%;
	float: right;
	width: 300px;
	height: 300px;

}

#div4 {
	position: absolute;
	top: 500px;
	right: 20%;
	float: right;
	width: 20px;
	height: 20px;
	z-index: 5;
}

.Validation{
	color:red;
	font-family: 'Lato', sans-serif;
	padding-left:6px;
	font-size:13px;
	width: 200px;
	display:none;
}


#logEntryComments{
	height: 100px;
	resize:none;
}

#updateEntryComments{
	height: 100px;
	resize:none;
}

.RoundedBox {
	border-width: 1px;
	border-color: white;
    outline: 2;
    overflow: hidden;
    height: 30px;
	width:200px;
	margin:3px;
	background-color: var(--black-color);
	color: white;
    padding-left: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}


.button {
	border-width: 1px;
	border-color: var(--dark-color);
	background-color:var(--primary-color);
	/* border-color: --primary-color;
		/* border-color: rgb(37, 18, 85); */
	/* background-color:var(--dark-color); */ 

	font-weight:normal;
	margin-top: 5px;
	width: 100px;
	height:60px;
	color: white;

	/* padding: 5px; */
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

#TotalHours{
	width: 100%;
	position: absolute;
	text-align:center;
	top: 130px;
	color: white;
	font-weight:bold;
	font-size: 30px;
	float:right;
	z-index: 5;
}

#monthlyChart-container, #yearlyChart-container
{
	padding: 3%;
	width: 1600px;
	height: 1010px;
}

#LeftMonth {
	position: absolute;
	top: 825px;
	left: 55.5%;
	float: left;
	width: 35px;
	height: 35px;
	z-index: 5;
}

#RightMonth {
	position: absolute;
	top: 825px;
	left: 58.5%;
	float: right;
	width: 35px;
	height: 35px;
	z-index: 5;
}

#weeklyChart-container
{
	padding: 3%;
	width: 1600px;
	height: 1010px;
}

#LeftWeek {
	position: absolute;
	top: 825px;
	left: 55.5%;
	float: left;
	width: 35px;
	height: 35px;
	z-index: 5;
}

#RightWeek {
	position: absolute;
	top: 825px;
	left: 58.5%;
	float: right;
	width: 35px;
	height: 35px;
	z-index: 5;
}

.modal {
	position: fixed;
	top: 50%;
	left: 53.9%;
	transform: translate(-50%, -50%) scale(0);
	transition: 100ms ease-in-out;
	border: 1px solid black;
	border-radius: 10px;
	z-index: 10;
	background-color: #212121;
	width: 300px;
	max-width: 80%;
  }
  
  .modal.active {
	transform: translate(-53.9%, -50%) scale(1);
  }

  #Signout{
	color:white;
}
  
  .modal-header {
	color:white;
	padding: 10px 15px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom: 1px solid white;
  }
  
  .modal-header .title {
	font-size: 1.25rem;
	font-weight: bold;
  }
  
  .modal .close-button {
	padding-left: 15px;
	color:White;
	cursor: pointer;
	border: none;
	outline: none;
	background: none;
	font-size: 1.25rem;
	font-weight: bold;
  }
  
  .modal-body {
	color: white;
	padding: 10px 15px;
  }